# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

In [143]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [144]:
print("geef me je geld\nof ik gebruik geweld,\ntoen kwam de controle aangesneld")

geef me je geld
of ik gebruik geweld,
toen kwam de controle aangesneld

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [145]:
woord1 = "Apenhoofd"
woord2 = "Paardenstaart"

print(woord1)
print(woord2)

Apenhoofd
Paardenstaart

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [146]:
print("A, B, C, D, ..., F, G")
Letter = input()
print("Het is inderdaad", Letter)

A, B, C, D, ..., F, G
Het is inderdaad

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [147]:
Inkomen = int(input())
print("Uw inkomen", Inkomen, "is zeer acceptabel.")

ValueError: invalid literal for int() with base 10: ''

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [ ]:
print("Wat is de basis?")
basis = int(input("Wat is de basis?"))
print("Wat is de hoogte")
hoogte = int(input("Wat is de hoogte"))
print("De oppervlakte van de driehoek is", basis * hoogte)

Wat is de basis?
Wat is de hoogte
De oppervlakte van de driehoek is 1600

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [ ]:
Leeftijd = int(input("Hoe oud ben je?"))
IsMetOuders = str(input("Zijn je ouders meegekomen?"))
if(Leeftijd < 5):
    if (IsMetOuders == "J"):
        print("Je mag het zwembad in")
    else:
        print("Je mag het niet zwembad in")
else:
    if(IsMetOuders == "J"):
        print("Waarom neem je nog je ouders mee?")
    else: 
        print("Je mag het zwembad in als je een diploma hebt")

Waarom neem je nog je ouders mee?

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [ ]:
een = True
twee  = False

if(een and not twee): print("onwaar")
else: print("waar")

onwaar

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [ ]:
def wachtwoord(): 
    woord1 = input("eerste woord")
    woord2 = input("tweede woord")

    if (woord1 == woord2): return "gelijk"
    return "ongelijk"
print(wachtwoord())

gelijk

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [ ]:
def zoekPrins(prinses):
    if(prinses == "Aurora"): return "Philip"
    if(prinses == "Ariël"): return "Eric"
    if(prinses == "Jasmine"): return "Aladdin"
    if(prinses == "Pocahontas"): return "John"
    if(prinses == "Belle"): return "Beast"
    if(prinses == "Tiana"): return "Naveen"
    if(prinses == "Mulan"): return "Shang"
    return "naamloos"

print(zoekPrins(input("Wat is je naam?")))

Philip

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [ ]:
def wachtwoord(): 
    while(True):
        ww1 = input()
        ww2 = input()

        if (ww1 == ww2): 
            return "Succes!"
        else: print("Fout, probeer het opnieuw!")

print(wachtwoord())

Fout, probeer het opnieuw!
Succes!

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [ ]:
def tafel(getal: int):
    teller: int = 1

    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1
def tafels(getal: int):
    teller: int = 1
    while (teller <= x):
        tafel(teller)
        teller += 1
x: int = int(input())
tafels(x)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [ ]:
def loopje():

    for i  in range(0, 11, 1):
        print(f"huidige getal: {i}")

loopje()

huidige getal: 0
huidige getal: 1
huidige getal: 2
huidige getal: 3
huidige getal: 4
huidige getal: 5
huidige getal: 6
huidige getal: 7
huidige getal: 8
huidige getal: 9
huidige getal: 10

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [ ]:
def checkEven():
    evenTeller: int = 0
    for i in range(0, 12, 1):
        userInput = int(input())
        if(userInput % 2 == 0):
            evenTeller += 1
    print(evenTeller)

checkEven()

12

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [ ]:
class Kledingstuk:
    def __init__(self, merk, maat, prijs):
        self.merk = merk
        self.maat = maat
        self.prijs = prijs

    def beschrijving(self):
        print("Merk:", self.merk)
        print(f"Maat: {self.maat}")
        print(f"Prijs: €{self.prijs}")


class Broek(Kledingstuk):
    def __init__(self, merk, maat, prijs, broek_type):
        super().__init__(merk, maat, prijs)
        self.broek_type = broek_type

    def beschrijving(self):
        super().beschrijving()
        print(f"Type broek: {self.broek_type}")


class Shirt(Kledingstuk):
    def __init__(self, merk, maat, prijs, shirt_type):
        super().__init__(merk, maat, prijs)
        self.shirt_type = shirt_type

    def beschrijving(self):
        super().beschrijving()
        print(f"Type shirt: {self.shirt_type}")


class Spijkerbroek(Broek):
    def __init__(self, merk, maat, prijs, broek_type, blauwtint):
        super().__init__(merk, maat, prijs, broek_type)
        self.blauwtint = blauwtint

    def beschrijving(self):
        super().beschrijving()
        print(f"Blauwtint: {self.blauwtint}")


class Poloshirt(Shirt):
    def __init__(self, merk, maat, prijs, shirt_type, kraagsoort):
        super().__init__(merk, maat, prijs, shirt_type)
        self.kraagsoort = kraagsoort

    def beschrijving(self):
        super().beschrijving()
        print(f"Kraagsoort: {self.kraagsoort}")


kledingstuk = Kledingstuk("Nike", "M", 39.99)
broek = Broek("Levi's", "L", 79.99, "Chino")
shirt = Shirt("Adidas", "S", 29.99, "T-shirt")
spijkerbroek = Spijkerbroek("Diesel", "M", 99.99, "Jeans", "Donkerblauw")
poloshirt = Poloshirt("Lacoste", "M", 89.99, "Polo", "Button-down")

print("\nKledingstuk:")
kledingstuk.beschrijving()

print("\nBroek:")
broek.beschrijving()

print("\nShirt:")
shirt.beschrijving()

print("\nSpijkerbroek:")
spijkerbroek.beschrijving()

print("\nPoloshirt:")
poloshirt.beschrijving()

Kledingstuk:
Merk: Nike
Maat: M
Prijs: €39.99

Broek:
Merk: Levi's
Maat: L
Prijs: €79.99
Type broek: Chino

Shirt:
Merk: Adidas
Maat: S
Prijs: €29.99
Type shirt: T-shirt

Spijkerbroek:
Merk: Diesel
Maat: M
Prijs: €99.99
Type broek: Jeans
Blauwtint: Donkerblauw

Poloshirt:
Merk: Lacoste
Maat: M
Prijs: €89.99
Type shirt: Polo
Kraagsoort: Button-down

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [ ]:
mijn_lijst = ['Jelle', 'Marleen', 'Henk', 'Fatima', 'Jelle', 'Henk']

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
print(mijn_lijst[0])
mijn_lijst[0] = 'Adriaan'
print(mijn_lijst[0])

Jelle
Adriaan

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [ ]:
mijn_tupel = mijn_lijst

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
print(mijn_tupel[len(mijn_tupel) - 1])
 # mijn_tupel[len(mijn_tupel - 1)] = 'Bassie' not allowed
print(mijn_tupel[len(mijn_tupel) - 1])

Henk
Henk

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [ ]:
mijn_dict = {
    "naam" : "Jelle",
    "leeftijd" : 30,
    "beroep" : "Docent",
    "hobby" : "Volleybal"
}

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [ ]:
print(mijn_dict["naam"])
mijn_dict["naam"] = "Bassie"
print(mijn_dict["naam"])

Jelle
Bassie

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

Ans: Alles is een INTEGER of TEXT

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [ ]:
import pandas as pd
import sqlite3
sales = sqlite3.connect("go_sales.sqlite")

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [ ]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"

#Vul dit codeblok verder in
print(pd.read_sql(sql_query, sales))

             name
0         country
1   order_details
2    order_header
3    order_method
4         product
5    product_line
6    product_type
7   retailer_site
8   return_reason
9   returned_item
10   sales_branch
11    sales_staff

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [150]:
sql_query2 = "SELECT * FROM sales_staff"

sales_staff = pd.read_sql(sql_query2, sales)

print(sales_staff)

     SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
0                   4      Denis       Pagé                Branch Manager
1                   5  Élizabeth     Michel  Level 3 Sales Representative
2                   6      Émile   Clermont  Level 1 Sales Representative
3                   7    Étienne     Jauvin  Level 2 Sales Representative
4                  12    Elsbeth  Wiesinger  Level 2 Sales Representative
..                ...        ...        ...                           ...
97                120      Giele   Laermans  Level 1 Sales Representative
98                121   François    De Crée  Level 1 Sales Representative
99                122     Yvette    Lattrez  Level 3 Sales Representative
100               123      Willi  Seefelder  Level 2 Sales Representative
101               124     Sabine     Grüner  Level 3 Sales Representative

            WORK_PHONE  EXTENSION                FAX                   EMAIL  \
0    +33 1 68 94 52 20      325.0  +33 1 68 94 56 60       DPage@grtd123.com
1    +33 1 68 94 52 20      336.0  +33 1 68 94 56 60     EMichel@grtd123.com
2    +33 1 68 94 52 20      378.0  +33 1 68 94 56 60   EClermont@grtd123.com
3    +33 1 68 94 52 20      398.0  +33 1 68 94 56 60     EJauvin@grtd123.com
4    +(49) 40 663 1990     1818.0  +(49) 40 663 4571  EWiesinger@grtd123.com
..                 ...        ...                ...                     ...
97     +32 16 20.73.21     1340.0    +32 16 20.73.32   GLaermans@grtd123.com
98     +32 16 20.73.21     1642.0    +32 16 20.73.32     FDecree@grtd123.com
99     +32 16 20.73.21     1633.0    +32 16 20.73.32    YLattrez@grtd123.com
100  +(43) 13 79 56 32      325.0  +(43) 13 79 56 33  WSeefelder@grtd123.com
101  +(43) 13 79 56 32      348.0  +(43) 13 79 56 33     SGruner@grtd123.com

     DATE_HIRED  SALES_BRANCH_CODE
0    1996-11-03                  6
1    1995-06-08                  6
2    1998-04-07                  6
3    1997-08-16                  6
4    1997-02-27                 13
..          ...                ...
97   1999-11-15                 38
98   1999-12-01                 38
99   1999-12-09                 38
100  1998-10-28                 39
101  1998-02-18                 39

[102 rows x 10 columns]

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [151]:
sales_staff['DATE_HIRED'] = pd.to_datetime(sales_staff['DATE_HIRED'])
sales_staff.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
dtype: object

Als we hier het jaar uit willen halen, schrijven we:

In [ ]:
pd.DatetimeIndex(sales_staff['DATE_HIRED']).year

Index([1996, 1995, 1998, 1997, 1997, 1999, 1997, 1998, 1996, 1996,
       ...
       1998, 2000, 1999, 2000, 1999, 1999, 1999, 1999, 1998, 1998],
      dtype='int32', name='DATE_HIRED', length=102)

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [ ]:
staff_codes = pd.Series(sales_staff["SALES_STAFF_CODE"])
phones = pd.Series(sales_staff["WORK_PHONE"])
extensions = pd.Series(sales_staff["EXTENSION"])
fax = pd.Series(sales_staff["FAX"])
emails = pd.Series(sales_staff["EMAIL"])

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [ ]:
contact_details = pd.concat([staff_codes, phones, extensions, fax, emails], axis= 1)
print(contact_details)

     SALES_STAFF_CODE         WORK_PHONE  EXTENSION                FAX  \
0                   4  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60
1                   5  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60
2                   6  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60
3                   7  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60
4                  12  +(49) 40 663 1990     1818.0  +(49) 40 663 4571
..                ...                ...        ...                ...
97                120    +32 16 20.73.21     1340.0    +32 16 20.73.32
98                121    +32 16 20.73.21     1642.0    +32 16 20.73.32
99                122    +32 16 20.73.21     1633.0    +32 16 20.73.32
100               123  +(43) 13 79 56 32      325.0  +(43) 13 79 56 33
101               124  +(43) 13 79 56 32      348.0  +(43) 13 79 56 33

                      EMAIL
0         DPage@grtd123.com
1       EMichel@grtd123.com
2     EClermont@grtd123.com
3       EJauvin@grtd123.com
4    EWiesinger@grtd123.com
..                      ...
97    GLaermans@grtd123.com
98      FDecree@grtd123.com
99     YLattrez@grtd123.com
100  WSeefelder@grtd123.com
101     SGruner@grtd123.com

[102 rows x 5 columns]

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [ ]:
top5DF = contact_details.head(5)

print(top5DF)

   SALES_STAFF_CODE         WORK_PHONE  EXTENSION                FAX  \
0                 4  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60
1                 5  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60
2                 6  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60
3                 7  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60
4                12  +(49) 40 663 1990     1818.0  +(49) 40 663 4571

                    EMAIL
0       DPage@grtd123.com
1     EMichel@grtd123.com
2   EClermont@grtd123.com
3     EJauvin@grtd123.com
4  EWiesinger@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
first_language = ["EN", "EN", "EN", "EN", "EN"]
first_language = pd.Series(first_language)
top5DF["FIRST_LANGUAGE"] = first_language
print(top5DF)

   SALES_STAFF_CODE         WORK_PHONE  EXTENSION                FAX  \
0                 4  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60
1                 5  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60
2                 6  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60
3                 7  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60
4                12  +(49) 40 663 1990     1818.0  +(49) 40 663 4571

                    EMAIL FIRST_LANGUAGE
0       DPage@grtd123.com             EN
1     EMichel@grtd123.com             EN
2   EClermont@grtd123.com             EN
3     EJauvin@grtd123.com             EN
4  EWiesinger@grtd123.com             EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [148]:
second_language = {
    0 : "FR",
    1 : "FR",
    2 : "FR",
    3 : "DE",
    4 : "DE"
}
second_language = pd.Series(second_language)
top5DF["SECOND_LANGUAGE"] = second_language

print(top5DF)

   SALES_STAFF_CODE         WORK_PHONE  EXTENSION                FAX  \
0                 4  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60
1                 5  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60
2                 6  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60
3                 7  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60
4                12  +(49) 40 663 1990     1818.0  +(49) 40 663 4571

                    EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0       DPage@grtd123.com             EN              FR             NL
1     EMichel@grtd123.com             EN              FR             NL
2   EClermont@grtd123.com             EN              FR            JPN
3     EJauvin@grtd123.com             EN              DE            JPN
4  EWiesinger@grtd123.com             EN              DE            KOR

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [ ]:
third_language = {
    "THIRD_LANGUAGE" : ["NL", "NL", "JPN", "JPN", "KOR"]
}
third_language = pd.DataFrame(third_language)
top5DF["THIRD_LANGUAGE"] = third_language

print(top5DF)

   SALES_STAFF_CODE         WORK_PHONE  EXTENSION                FAX  \
0                 4  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60
1                 5  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60
2                 6  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60
3                 7  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60
4                12  +(49) 40 663 1990     1818.0  +(49) 40 663 4571

                    EMAIL FIRST_LANGUAGE SECOND_LANGUAGE THIRD_LANGUAGE
0       DPage@grtd123.com             EN              FR             NL
1     EMichel@grtd123.com             EN              FR             NL
2   EClermont@grtd123.com             EN              FR            JPN
3     EJauvin@grtd123.com             EN              DE            JPN
4  EWiesinger@grtd123.com             EN              DE            KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [152]:
nieuwe_rij = pd.DataFrame([{
    "SALES_STAFF_CODE": 125,
    "FIRST_NAME": "Henk",
    "LAST_NAME": "Pietersen",
    "POSITION_EN" : "Secretary",
    "WORK_PHONE": "012-3456789",
    "EXTENSION": 123,
    "FAX": "+33 1 00 00 00 00",
    "EMAIL": "999@example.com",
    "DATE_HIRED": "1999-11-01",
    "SALES_BRANCH_CODE": 38
}])

sales_staffDF = pd.concat([sales_staff, pd.DataFrame(nieuwe_rij)], axis=0, ignore_index=True)

print(sales_staffDF.tail())

     SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
98                121   François    De Crée  Level 1 Sales Representative
99                122     Yvette    Lattrez  Level 3 Sales Representative
100               123      Willi  Seefelder  Level 2 Sales Representative
101               124     Sabine     Grüner  Level 3 Sales Representative
102               125       Henk  Pietersen                     Secretary

            WORK_PHONE  EXTENSION                FAX                   EMAIL  \
98     +32 16 20.73.21     1642.0    +32 16 20.73.32     FDecree@grtd123.com
99     +32 16 20.73.21     1633.0    +32 16 20.73.32    YLattrez@grtd123.com
100  +(43) 13 79 56 32      325.0  +(43) 13 79 56 33  WSeefelder@grtd123.com
101  +(43) 13 79 56 32      348.0  +(43) 13 79 56 33     SGruner@grtd123.com
102        012-3456789      123.0  +33 1 00 00 00 00         999@example.com

              DATE_HIRED  SALES_BRANCH_CODE
98   1999-12-01 00:00:00                 38
99   1999-12-09 00:00:00                 38
100  1998-10-28 00:00:00                 39
101  1998-02-18 00:00:00                 39
102           1999-11-01                 38

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [159]:
sales_staff["FULL_NAME"] = sales_staff["FIRST_NAME"] + " " + sales_staff["LAST_NAME"]

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [158]:
sales_staff.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
FULL_NAME                       str
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [171]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer.Replace or remove non-finite values or cast to an integer typethat supports these values (e.g. 'Int64')

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [155]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
FULL_NAME                       str
dtype: object

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [156]:
sales_staff["EXTENSION"] += 1

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [160]:
sales_staff = sales_staff.replace("Branch Manager", "General Manager")

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [161]:
sales_staff = sales_staff.rename(columns={"POSITION_EN": "POSITION"})

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1643.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1634.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,326.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [169]:
sales_staff = sales_staff.drop([98, 99, 100], axis=0)

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
94,117,Frank,Jever,Level 3 Sales Representative,+(41) 17 12 13 14,1155.0,+(41) 17 12 13 20,FJever@grtd123.com,1999-10-18,37,Frank Jever
95,118,Gianni,Vertemati,Level 1 Sales Representative,+(41) 17 12 13 14,1255.0,+(41) 17 12 13 20,GVertemati@grtd123.com,2000-02-10,37,Gianni Vertemati
96,119,Gracy,Gellens,General Manager,+32 16 20.73.21,1350.0,+32 16 20.73.32,GGellens@grtd123.com,1999-09-10,38,Gracy Gellens
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [170]:
sales_staff = sales_staff.drop("FAX", axis=1)

sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION,WORK_PHONE,EXTENSION,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,General Manager,+33 1 68 94 52 20,326.0,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,337.0,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,379.0,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,399.0,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1819.0,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...
94,117,Frank,Jever,Level 3 Sales Representative,+(41) 17 12 13 14,1155.0,FJever@grtd123.com,1999-10-18,37,Frank Jever
95,118,Gianni,Vertemati,Level 1 Sales Representative,+(41) 17 12 13 14,1255.0,GVertemati@grtd123.com,2000-02-10,37,Gianni Vertemati
96,119,Gracy,Gellens,General Manager,+32 16 20.73.21,1350.0,GGellens@grtd123.com,1999-09-10,38,Gracy Gellens
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1341.0,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,349.0,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner